*.csv
/infra/keys/*
*.gz
/my_taxi_data
/infra/.terraform/*
*.json 
*.__pycache__

# mage 
.DS_Store
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.preferences.yaml
.variables/
__pycache__/
docker-compose.override.yml
logs/
mage-ai.db
mage_data/
secrets/

# duckdb
<dlt.pipeline.*
dlt_ipykernel_*